*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

.container{
  display: grid;
  grid-template-columns: 200px 1fr 280px;
  grid-template-rows: 100px auto;
  height: 100vh;
   background-color: #f5f7fa;
}

/* MAIN AREA */
.main{
  display: grid;
  grid-auto-rows: min-content;
  background-color: white;
  padding: 10px 20px;
  align-content: start;
}

/* HEADER (TOP BAR) */
.header{
  display: grid;
  grid-template-columns: 1fr auto  1fr auto auto auto;
  align-items: center;
  gap: 12px;
}

/* ICONS */
.s, .b{
  width: 20px;
  height: 20px;
}

/* SEARCH BAR */
#search{
  width: 280px;
  height: 32px;
  border-radius: 20px;
  padding: 0 12px;
  border: 1px solid #aaa;
  outline: none;
  background-color: #e0e0e0;
}

/* PROFILE IMAGES */
.a, .l{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* USER NAME */
.asce{
  font-size: 14px;
}

/* NAV SECTION */
.nav{
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 16px;
  margin-top: 4px;
  padding-bottom: 6px 0;

}

/* TEXT */
.as{
  font-size: 13px;
}
.bo{
  font-size: 18px;
}

/* BUTTONS */
.button{
  display: flex;
  gap: 15px;
  justify-self: start;
}

button{
  padding: 6px 14px;
  margin: 0;
  border-radius: 6px;
  background-color: rgb(22, 176, 236);
  color: white;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

button:hover{
  color: lightsalmon;
}

.SideBar {
  grid-row: 1/-1;
  background: rgb(16, 173, 235);
  color: white;
  padding: 35px 20px;
  display: grid;
  grid-auto-rows: min-content;
  width: 200px;
  box-sizing: border-box;
  row-gap: 14px;
}

/* each menu row */
.icon {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  column-gap: 10px;
}

/* icon */
.icon-img {
  width: 20px;
  height: 20px;
}

/* text */
.icon p {
  margin: 0;
  font-size: 14px;
}
/* CONTENT */
.content{
  padding: 20px;
  background-color: #f5f7fa;
}
/* CARDS*/
.cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 15px;
}

/* CARD*/
.card{
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  border: 5px solid rgb(37, 168, 219);
}
/* TEXT */
.card h3{
  margin-bottom: 10px;
}


.box,
.trend {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  width: 100%;
  margin-top: 15px;
}


.SideBar {
  grid-row: 1 / -1; 
}

.main {
  grid-column: 2 / 4; 
}

.content {
  grid-column: 2 / 3; 
}

.right-panel {
  grid-column: 3 / 4; 
  display: grid;
  gap: 20px;
}

footer {
  grid-column: 1/ 4;
  justify-self: center;
  margin: 35px 0;
  color: white;
  background-color: black;
}
.small p{
  font-size: 14px;
}
